{% extends "base.html" %}

{% block title %}
Muokkaa käyttäjää
{% endblock %}

{% block content %}
<h1>Muokkaa: {{kayttaja.nimi}}</h1>
<div class="alert alert-success">
  {{message}}
</div>

<form method="post" action="{{base_path}}/kayttaja/{{kayttaja.jasennumero}}/edit">

    <div class="form-group">
        <label>Jäsennumero</label>
        <p>{{kayttaja.jasennumero}}</p>
    </div>

    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" required class="form-control" value="{{kayttaja.nimi}}">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required class="form-control" value="{{kayttaja.email}}">
    </div>

    <div class="form-group">
        <label>Salasana</label>
        <input type="password" name="salasana" class="form-control" value="{{kayttaja.salasana}}">
    </div>



    <div class="form-group">
        <label>Status</label>
        <input list="modes" name="status" required class="form-control" value="{{kayttaja.status}}">
        <datalist id="modes">
            <option value="jasen">
            <option value="johtaja">
            <option value="moderator">
        </datalist>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>

    {% endblock %}