{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi käyttäjä </h1>

<div class="alert alert-success">
  {{message}}
</div>

<form method="post" action="{{base_path}}/kayttaja">
    <div class="form-group">
        <label>Jäsennumero</label>
        <input type="number" name="jasennumero" required class="form-control">
    </div>

    <div class="form-group">
        <label>Nimi</label>
        <input type="text" name="nimi" required="" class="form-control">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" required class="form-control">
    </div>

    <div class="form-group">
        <label>Salasana</label>
         <input type="password" name="salasana" class="form-control">
    </div>



    <div class="action">
        <label>Status</label> <br>
      
      
        <input type="radio" name="status" value="jasen" checked> Jäsen <br>
        <input type="radio" name="status" value="johtaja"> Ammunnan johtaja <br>
        <input type="radio" name="status" value="moderator"> Moderator <br>
            
    
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
</form>
{% endblock %}