{% extends "base.html" %}
{% block content %}
  <h1>Omat tiedot</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Nimi:</strong> alok nönnönnöö</li>
    <li><strong>Jäsennumero:</strong> 666</li>
    <li><strong>Status:</strong> <label class="label label-danger">jasen</label></li>
    <li><strong>Email:</strong> joo@eika.fi</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
 
{% endblock %}