{% extends "base.html" %}
{% block content %}
<h1>Muokkaa omia tietojasi</h1>

<form>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Pelattu
        </label>
    </div>
    <div class="form-group">
        <label>Paikka</label>
        <input class="form-control" value="Alok nönnönnöö" type="text">
    </div>
    <div class="form-group">
        <label>Aika</label>
        <input class="form-control" value="666" type="text">
    </div>
    <div class="form-group">
        <label>Kesto</label>
        <input class="form-control" value="joo@eika.fi" type="text">
    </div>
    <div class="form-group">
        <label>Valvoja</label>
        <input class="form-control" value="Ammunnan johtaja" type="text">
    </div>
    <div class="form-group">
        <label>Ase 1</label>
        <input class="form-control" value="Ase 1" type="text">
    </div>
    <div class="form-group">
        <label>Ammutut laukaukset ase 1</label>
        <input class="form-control" value="ammutut laukaukset ase 1" type="text">
    </div>
    <div class="form-group">
        <label>Ase 2</label>
        <input class="form-control" value="Ase 2" type="text">
    </div>

    <div class="form-group">
        <label>Ase 3</label>
        <input class="form-control" value="Ase 2" type="text">
    </div>

    <div class="form-group">
        <label>Ammutut laukaukset ase 2</label>
        <input class="form-control" value="Ammutut laukaukset ase 2" type="text">
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}