{% extends "base.html" %}
{% block content %}
  <h1>{{harjoitus.pvm}} {{harjoitus.paikka}}</h1>

 <form method="post" action="{{base_path}}/ammunta">

     
     <div class="action">
        <label> Ase </label> <br>
        <input type="radio" name="asetyyppi" value="Pistooli"> Pistooli <br>
        <input type="radio" name="asetyyppi" value="Kivääri"> Kivääri <br>
        <input type="radio" name="asetyyppi" value="Haulikko"> Haulikko <br>
        <input type="radio" name="asetyyppi" value="Tarkkuuskivääri"> Tarkkuuskivääri <br>
        
            
    </div>
     
     <div class="form-group">
        <label>Laukausmäärä </label>
       <input type="number" name="laukasmaara" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
    
    
</form>
{% endblock %}