{% extends "base.html" %}
{% block content %}
{% set i = 0 %}

<h1>Lisää tulos {{rasti.rastikuvaus}} </h1>



{% for osallistuja in osallistujat %}

{% set i = i +1 %}

<form method="post" action="{{base_path}}/rasti/:rasti/tulos">
    <div class="form-group">
        <label>Ampuja: </label>
        <label>{{osallistuja.nimi}} </label>
    </div>

    <input type="hidden" name ="rasti" class="form-control" value="{{rasti.rastiid}}">


    
        
        <input type="hidden" name="ampuja{{i}}" class="form-control" value="{{osallistuja.jasennumero}}">
   
    <div class="form-group">
        <label>Aika</label>
        <input type="text" name="aika{{i}}" class="form-control">
    </div>

    <div class="form-group">
        <label>Pisteet</label>
        <input type="text" name="pisteet{{i}}" class="form-control">
    </div>

 
    {% endfor %}    
    <div class="form-group">
        
        <input type="hidden" name ="montako" class="form-control" value="{{i}}">
        
        <button type="submit" class="btn btn-primary" name="lisaa" value="">Tallenna ja lisää uusi rasti</button>
        <button type="submit" class="btn btn-primary" name="palaa" value="">Tallenna ja palaa harjoituksiin</button>
    </div>




</form>
{% endblock %}