{% extends "base.html" %}
{% block content %}
<h1>Lisää tulos </h1>

<form method="post" action="{{base_path}}/rasti">
    <div class="form-group">
        <label>ampuja</label>
        <input type="text" name="jasennumero" class="form-control">
    </div>

    <div class="form-group">
        <label>Aika</label>
        <input type="text" name="aika" class="form-control">
    </div>

    <div class="form-group">
        <label>Pisteet</label>
        <input type="text" name="pisteet" class="form-control">
    </div>

    

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
    
    
    
    
</form>
{% endblock %}