{% extends "base.html" %}
{% block content %}
  <h1>{{harjoitus.pvm}} {{harjoitus.paikka}}</h1>

 <form method="post" action="{{base_path}}/harjoitus/{{harjoitus.harjoitusid}}/rasti/lisaa">
    <div class="form-group">
        <label>Rastikuvaus</label>
      <textarea name="rastikuvaus" class="form-control"></textarea>
      
    </div>
     
    <input type="hidden" name ="harjoitus" class="form-control" value="{{harjoitus.harjoitusid}}">

     
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
    
    
</form>
{% endblock %}