{% extends "base.html" %}
{% block content %}
<h1>Lisää uusi harjoitus </h1>

<form method="post" action="{{base_path}}/harjoitus">
    <div class="form-group">
        <label>PVM</label>
        <input type="date" name="pvm" class="form-control">
    </div>

    <div class="form-group">
        <label>Klo</label>
        <input type="text" name="kello" class="form-control">
    </div>

    <div class="form-group">
        <label>Paikka</label>
        <input type="text" name="paikka" class="form-control">
    </div>

    <div class="form-group">
        <label>Maksimi osallistujamäärä</label>
       <input type="number" name="maxosallistujat" class="form-control">
    </div>

    <div class="form-group">
        <label>Harjoituksen kesto</label>
       <input type="text" name="kesto" class="form-control">
    </div>

    <div class="form-group">
        <label>Lisätiedot</label>
        <textarea name="lisatiedot" class="form-control"></textarea>
    </div>
    
    <div class="action">
        <label> Oma harjoitus? </label> <br>
        <input type="radio" name="omaharjoitus" value="FALSE" checked> Ei<br>
        <input type="radio" name="omaharjoitus" value="TRUE"> Kyllä <br>
            
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
    
    
</form>
{% endblock %}